<template name="hackernews">
    <section class="weight-sliders">
        <ul class="weight-options">
            <li>
                <span>Comments ({{cw}})</span><div id="weighting"></div><span>Upvotes({{pw}})</span>
            </li>
            <li>
                <span>Gravity</span>
                <div id="gravity"></div>
            </li>
        </ul>
    </section>
    <section id="hn-posts" class="post-feed single-feed hn-custom">
        <h1>Hacker News</h1>
        <ol class="hn-post-list post-list">
            {{#each posts}}
                <li>
                    <div class="post-header">
                        <p><a href={{this.story.url}}>{{this.story.title}}</a></p>
                        <p>{{this.story.author}}</p>
                    </div>
                    <div class="post-details">
                        <p>HN Rank: {{this.story.remoteRank}}</p>
                        <p>{{this.story.commentCount}} comments</p>
                        <p>Posted On: {{this.story.created}}</p>
                    </div>
                </li>
            {{/each}}
        </ol>
    </section>
</template>
